# ===============================
# Secrets / env
# ===============================
.env
.env.*
!.env.example

# ===============================
# Python / Django
# ===============================
__pycache__/
*.py[cod]
venv/
.venv/
**/venv/
**/.venv/
**/*.sqlite3
**/db.sqlite3
**/staticfiles/
**/media/
.backup/


# ===============================
# Node / Next
# ===============================
node_modules/
.next/
out/
dist/
.env.local
.env.development.local
.env.production.local

# ===============================
# IDE / OS
# ===============================
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log

# ===============================
# Archives
# ===============================
*.zip
*.tar
*.gz
